body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://connectapp.gq/resources/wallpaper.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.span {
  background: white;
}

#cloud {
  object-position: right;
}

#ad {
  height:80px;
}
@media only screen and (height:90px) {
  /* 90 pixels high */
  #ad {
     height:90px;
  }
}
@media only screen and (height:125px) {
  /* 125 pixels high */
  #ad {
     height:125px;
  }
}

.ad-placment {
  text-align: center;
}
